.sub_card {
    display: flex;
    align-items: center;
}

.icon_center {
    display: flex;
    align-items: center;
}

.list-container .card {
    margin: 0.3rem;
}

/*.card .content-padded{
    margin:.3rem;
}*/

.sub_card p {
    margin: 0 0;
}

.sub_card .subName {
    font-weight: bold;
    margin: .2rem 0;
}

.sub_card button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0;
    width: 100%;
    margin: 0.1rem 0;
}

i.icon.icon-subIcon {
    width: 0.85rem;
    height: 0.85rem;
    background-image: url(../img/i-jiancedian.png);
    margin-bottom: .1rem;
    margin-right: .1rem;
}

i.icon.icon-alarm {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/i-alarmp.png);
}

i.icon.icon-clearAlarm {
    width: 0.9rem;
    height: 0.9rem;
    background-image: url(../img/clear_alarm.png);
    margin-left: .2rem;
}

.card .no-gutter p {
    margin: 0.2rem 0;
}

.unRead {
    color: #FF0000;
}

.row .col-25 {
    width: 21%;
    margin-left: 4%;
    text-align: center;
}

.cardtime {
    font-size: 0.6rem;
    line-height: 0.1rem;
}

#dateStart,
#dateEnd,
#fState,
#dangerType,
#search {
    border-radius: 0.25rem;
    border: 0.05rem solid #CCCCCC;
    height: 1.5rem;
    margin: 0.1rem 0 0.5rem 0;
}

#dateStart,
#dateEnd {
    padding-left: 0.25rem;
    width: 100%;
    font-size: 0.75rem;
}

#selectStartTime,
#selectEndTime {
    float: left;
    width: 46%;
}


#fState,
#dangerType,
#search {
    width: 100%;
}

.searchbar {
    height: initial;
    padding: 0;
}

#panel-right-demo {
    background-color: #FFFFFF;
    color: #3d4145;
    overflow: hidden;
}

.list-block {
    margin: 0;
}

.list-block .item-title.label {
    width: initial;
}

.btnBar {
    /*position:absolute;*/
    right: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.pull-right.open-panel {
    color: #fff;
}

.content-block {
    color: #3d4145;
}

.content-block label {
    font-size: 0.9rem;
    color: black;
}

#search {
    margin: 0;
}

#listContainer {
    max-height: 11rem;
    overflow: auto;
}

.item-content:active {
    background-color: #d9d9d9;
}

.subName {
    font-weight: bold;
}

i.icon.icon-selectSome {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/i-selectSome.png);
}

.card-content-inner {
    position: relative;
    padding: .35rem;
}

.searchbar .search-input i.icon.icon-clear {
    width: .9rem;
    height: .9rem;
    z-index: 100;
    cursor: pointer;
    left: initial;
    display: none;
    right: .3rem;
    background-image: url(../img/i-clear.png);
}

#listContainer .item-inner {
    font-size: .7rem;
}

.content-block .buttons-row .button {
    font-size: .75rem;
    border-color: #02A8A6;
    color: #02A8A6;
}

.content-block .buttons-row .button.active {
    font-size: .75rem;
    border-color: #02A8A6;
    color: #fff;
    background-color: #02A8A6;
}

.btnBar .button {
    border-radius: initial;
}

#searchBtn,
#commitBtn {
    background: #02A8A6;
}

#listContainer {
    border: 1px solid #CCCCCC;
}

#listContainer .item-content:active {
    background: #02A8A6;
    color: #fff;
}

.button.button-fill.button-cancel {
    background: #ccc;
    color: #3d4145;
}

#list-container .card {
    margin: 0.3rem;
}

.bar .button-nav.pull-right {
    margin-right: 0;
}

.panel .content-block {
    height: 100%;
}

.popup-btn {
    min-height: 2.4rem;
}


/* 添加已确认图片 */
.hasConfirmed {
    background: #fff url(../img/confirmed.png) right 33% top no-repeat;
    background-size: 3rem;
}

#showDiv {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11000;
    display: none;
    margin: 0;
    background: rgba(255, 255, 255, .95);
    opacity: 1;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    display: none;
    font-size: .6rem;
    font-weight: bold;
    -webkit-box-shadow: #666 0 0 0.3rem;
    -moz-box-shadow: #666 0 0 0.3rem;
    box-shadow: #666 0 0 0.3rem;
}

span.danger {
    padding: .1rem;
    border-radius: .15rem;
    background: #FFA629;
    color: #fff;
}

span.dangerer {
    padding: .1rem;
    border-radius: .15rem;
    background: #FFF100;
    color: #A39729;
}

span.common {
    padding: .1rem;
    border-radius: .15rem;
    background: #21BBF7;
    color: #fff;
}

span.veryDanger {
    padding: .1rem;
    border-radius: .15rem;
    background: #DC3545;
    color: #fff;
}

.col-25 {
    font-size: .6rem;
}

.list-block .item-inner.row {
    padding: 0 .7rem 0 0;
}

.list-block .item-link .item-inner.row {
    background-position: 100% center;
}

.text-right {
    text-align: right;
}

label.label-checkbox i.icon-form-checkbox {
    width: .8rem;
    height: .8rem;
    border-radius: .8rem;
}

.list-block .item-content {
    padding-left: .5rem;
}

.list-block .item-media+.item-inner {
    margin-left: .5rem;
}

.item-link .item-media+.item-inner {
    margin-left: 0;
}

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox {
    background: #01ADA8;
    ;
}

.button.bg-green {
    background: #02A8A6;
    color: #fff;
    border: none;
    border-radius: 1rem;
    width: 33%;
    float: right;
}

/*变电所列表筛选*/
.panel .list-block {
    margin: 0;
    height: calc(100% - 19.5rem);
}

#listContainer {
    max-height: 100%;
    overflow: auto;
    border: none;
}

#listContainer .item-inner {
    font-size: .7rem;
    padding-right: 0;
}

#listContainer .item-content {
    padding-left: 0;
}

#listContainer .item-title::before {
    content: " ";
    width: 1.2rem;
    height: 1rem;
    float: left;
    background: url(../img/showSubList.png) no-repeat;
    background-size: 0.9rem;
}

#Eventtype {
    margin: 0;
    width: 100%;
    border: 0.05rem solid #CCCCCC;
    border-radius: 0.25rem;
    height: 1.5rem;
}