.content .list-block{
    margin:0;
    font-size:.75rem;
}

.content .list-block input[type=text]{
    font-size:.75rem;
}

.content .list-block .item-title.label{
    width:initial;
}

.list-block .item-link.item-add .item-inner {
    padding-right: 1.5rem;
    background-image: url(../img/i-additem.png);
    background-repeat: no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .5rem) center;
    background-position: calc(100% - .5rem) center;
    background-size: .8rem;
}

/*.list-block ul{
    margin-bottom: .2rem;
}*/

.peopleList{
    width:100%;
    height:5rem;
    overflow:auto;
    padding:0 .5rem .2rem .5rem;
}

span.common{
    padding:.1rem .3rem .1rem .5rem;
    border-radius:.15rem;
    background:#FEF6E8;
    color:#797876;
    border:1px solid #FEF0F5;
    margin:.15rem .1rem;
    font-size:.7rem;
    display:inline-block;
}

i.icon.icon-close{
    width: 0.45rem;
    height: 0.45rem;
    background-image: url(../img/i-iconclose.png);
    margin-left:.3rem;
    margin-bottom:.1rem;
}

.list-block .button-bottom.button-fill{
    background-color: #01ADA8;
    width:60%;
    margin-left:20%;
    height:1.8rem;
    line-height:1.8rem;
}

.bottomDiv{
    padding:1rem;
    background:#fff;
}

#taskContent{
    padding:0 .5rem .2rem .5rem;
    font-size:.75rem;
}

/*选择人*/
.content .list-block{
    margin:0;
    font-size:.75rem;
}

.bar-footer span,i.icon.icon-up{
    font-size:.75rem;
}

.bar-footer span{
    height: 2.2rem;
    line-height: 2.2rem;
    color:#01ADA8;
}

.bar-footer i.icon.icon-up{
    margin-left:.2rem;
}

.bar-footer .button{
    background:#01ADA8;
    border: 1px solid #01ADA8;
    float:right;
}

i.icon.icon-nextclass{
    width: 0.7rem;
    height: 0.7rem;
    background-image: url(../img/i-nextclass.png);
    margin-bottom:.1rem;
}

i.icon.icon-nextArrow{
    width: 0.75rem;
    height: 0.75rem;
    background-image: url(../img/i-nextarrow.png);
}

.nextClass{
    color:#01ADA8;
    font-size:.7rem;
}

.list-block .item-after{
    padding-left:.5rem;
    border-left:1px solid #e7e7e7;
}

label.label-checkbox i.icon-form-checkbox {
    position: relative;
    width: .8rem;
    height: .8rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #c7c7cc;
    border-radius: .8rem;
}

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
    background:#01ADA8;
}

.search-input input{
    background:#EEEEEE;
}

.bar.bar-header-secondary .searchbar{
    background:#fff;
    font-size:.75rem;
}

.list-block ul.classUl,ul.personUl{
    margin-top:.2rem;
}

ul#classList .item-title{
    overflow:auto;
    text-overflow:initial;
}

.preClass{
    color:#01ADA8;
}

.list-block select{
    font-size:.75rem;
    direction:rtl;
    background:initial;
}

.item-inner{
    overflow:hidden;
}

.inputSelect .item-link .item-inner{
    padding:0;
}

.inputSelect .item-link .item-inner select,input{
    padding-right:1.5rem !important;
}

i.icon.icon-history{
    width: 1rem;
    height: 1rem;
    background-image: url(../img/i_history.png);
}