.item-content .item-inner .item-title {
    width: 40%;
}

.item-content .item-inner .item-after {
    width: 60%;
    color: #3E4145;
    /*    word-break: break-all;
    text-overflow: ellipsis;*/
    max-height: initial;
    white-space: initial;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

span.veryDanger {
    padding: .1rem;
    border-radius: .15rem;
    background: #FCEFEE;
    color: #ED5B54;
}

span.normal {
    padding: .1rem;
    border-radius: .15rem;
    background: #F1FEFF;
    color: #83D1AE;
}