.sub_card {
    display: flex;
    align-items: center;
}

.sub_card p {
    margin: 0 0;
}

.sub_card .subName {
    font-weight: bold;
    margin: 0.4rem 0;
}

.sub_card button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0;
    width: 100%;
    margin: 0.1rem 0;
}

i.icon.icon-subIcon {
    width: 0.85rem;
    height: 0.85rem;
    background-image: url(../img/i-jiancedian.png);
    margin-bottom:0.2rem;
}

i.icon.icon-alarm {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(../img/i-alarmp.png);
    margin-top: 0.2rem;
}

.card .col-25 p {
    margin: 0.2rem 0;
}

.unRead {
    color: #FF0000;
}

.row .col-25 {
    width: 21%;
    margin-left: 4%;
    text-align: center;
}

.cardtime {
    font-size: 0.6rem;
    line-height: 0.1rem;
}