.sub_card {
    display: flex;
    align-items: center;
}

.sub_card p {
    margin: 0 0;
}

.sub_card .subName {
    font-weight: bold;
    margin: 0.4rem 0;
    font-size: 0.75rem;
}

.sub_card button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0;
    width: 100%;
    margin: 0.1rem 0;
}

i.icon.icon-contact {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(../img/i-contact.png);
}

i.icon.icon-contactphone {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(../img/i-contactPhone.png);
}

.progress {
    width: 8rem;
    /* border: 1px solid #D4D4D4; */
    background: #D4D4D4;
    height: 0.5rem;
    display: inline-flex;
}

.progressbar {
    background: #488CD2;
    float: left;
    height: 100%;
    text-align: center;
    line-height: 150%;
}