.col-10.button{
    padding:0;
}
.row.no-gutter {
    display: flex;
    align-items: center;
}
.card-content-inner p{
    margin:0;
}
i.icon.icon-alarm{
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(../img/i-alarm.png);
}
#dateStart,#dateEnd,#fState{
    border-radius:0.25rem;
    border:0.05rem solid #CCCCCC;
    height:1.5rem;
}
#dateStart,#dateEnd{
    padding-left:0.25rem;
}
#panel-right-demo{
    background-color:#fff;
    color:#3d4145;
}
.list-block{
    margin:0;
}

.list-block .item-title.label {
    width:initial;
}
.btnBar{
    bottom: 0;
    width: 100%;
    position: fixed;
}
.pull-right.open-panel{
    color:#fff;
}