i.icon.icon-device {
    width: 1.45rem;
    height: 1.45rem;
    background-image: url(../img/i-device.png);
}

i.icon.icon-nodevice {
    width: 1.45rem;
    height: 1.45rem;
    background-image: url(../img/i-nodevice.png);
}

.list-block{
    margin:0;
}
/*.parent-page{
    display:none;
}*/
.child-page{
    display:none;
}

#no-click:active{
    color:#fff;
}
.child-page .bar{
    position:static;
}
#show-class{
    display:inline-block;
}
#add-class{
    display:none;
}
.item-content .button{
    display:none;
}
.item-content.item-edit .button{
    display:inline-block;
}
.item-content.item-edit .item-inner{
    background:none;
    color:#fff;
    padding-right: 0.5rem;
}
.item-content.item-edit{
    background-color:#02A8A6;
}
.icon.icon-upChange{
    width: 1rem;
    height: 1rem;
    background-image: url(../img/i-up.png);
}
.icon.icon-downChange{
    width: 1rem;
    height: 1rem;
    background-image: url(../img/i-down.png);
}
.icon.icon-yes{
    width: 1rem;
    height: 1rem;
    background-image: url(../img/i-yes.png);
}
.bar-footer{
    display:none;
}