i.icon.icon-device {
    width: 1.45rem;
    height: 1.45rem;
    background-image: url(../img/i-device.png);
}

i.icon.icon-nodevice {
    width: 1.45rem;
    height: 1.45rem;
    background-image: url(../img/i-nodevice.png);
}

.list-block{
    margin:0;
}
/*.parent-page{
    display:none;
}*/
.child-page{
    display:none;
}

#no-click:active{
    color:#fff;
}
.child-page .bar{
    position:static;
}