.sub_card {
    display: flex;
    align-items: center;
    height: 3rem;
}

.icon_center {
    display: flex;
    align-items: center;
}

.list-container .card {
    margin: 0.3rem;
}

/*.card .content-padded{
    margin:.3rem;
}*/

.sub_card p {
    margin: 0 0;
}

.sub_card .subName {
    font-weight: bold;
    margin: .2rem 0;
}

.sub_card button {
    border: none;
    border-radius: 0.2rem;
    padding: 0.2rem 0;
    width: 100%;
    margin: 0.1rem 0;
}

i.icon.icon-subIcon {
    width: 0.85rem;
    height: 0.85rem;
    background-image: url(../img/i-jiancedian.png);
    margin-bottom: .1rem;
    margin-right: .1rem;
}

i.icon.icon-alarm {
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/i-alarmp.png);
}

.card .col-25 p {
    margin: 0.2rem 0;
}

.unRead {
    color: #FF0000;
}

.row .col-25 {
    width: 21%;
    margin-left: 4%;
    text-align: center;
}

.cardtime {
    font-size: 0.6rem;
    line-height: 0.1rem;
}

#dateStart,
#dateEnd,
#fState,
#dangerType,
#search {
    border-radius: 0.25rem;
    border: 0.05rem solid #CCCCCC;
    height: 1.5rem;
    margin: 0.1rem 0 0.5rem 0;
}

#dateStart,
#dateEnd {
    padding-left: 0.25rem;
    width: 100%;
    font-size: 0.75rem;
}

#selectStartTime,
#selectEndTime {
    float: left;
    width: 46%;
}

#fState,
#dangerType,
#search {
    width: 100%;
}

.searchbar {
    height: initial;
    padding: 0;
}

#panel-right-demo {
    background-color: #FFFFFF;
    color: #3d4145;
    overflow: hidden;
}

.list-block .item-title.label {
    width: initial;
}

.btnBar {
    /*position:absolute;*/
    right: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.pull-right.open-panel {
    color: #fff;
}

.content-block {
    color: #3d4145;
    height: 100%;
}

.content-block label {
    font-size: 0.9rem;
    color: black;
}

#search {
    margin: 0;
}

#listContainer {
    max-height: 100%;
    overflow: auto;
    border: none;
}

#listContainer .item-inner {
    font-size: .7rem;
    padding-right: 0;
}

#listContainer .item-content {
    padding-left: 0;
}

.item-title::before {
    content: " ";
    width: 1.2rem;
    height: 1rem;
    float: left;
    background: url(../img/showSubList.png) no-repeat;
    background-size: 0.9rem;
}

.list-block {
    margin: 0;
    height: calc(100% - 13rem);
}

.item-content:active {
    background-color: #d9d9d9;
}

.subName {
    font-weight: bold;
}

i.icon.icon-selectSome {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/i-selectSome.png);
}

.card-content-inner {
    position: relative;
    padding: .35rem;
}

.searchbar .search-input i.icon.icon-clear {
    width: .9rem;
    height: .9rem;
    z-index: 100;
    cursor: pointer;
    left: initial;
    display: none;
    right: .3rem;
    background-image: url(../img/i-clear.png);
}

.content-block .buttons-row .button {
    font-size: .75rem;
    border-color: #02A8A6;
    color: #02A8A6;
}

.content-block .buttons-row .button.active {
    font-size: .75rem;
    border-color: #02A8A6;
    color: #fff;
    background-color: #02A8A6;
}

.btnBar .button {
    border-radius: initial;
}

#searchBtn,
#commitBtn {
    background: #02A8A6;
}

#listContainer .item-content:active {
    background: #02A8A6;
    color: #fff;
}

.button.button-fill.button-cancel {
    background: #ccc;
    color: #3d4145;
}

#list-container .card {
    margin: 0.3rem;
}

.bar .button-nav.pull-right {
    margin-right: 0;
}

.popup-btn {
    min-height: 2.4rem;
}

i.icon.icon-fileSubname {
    width: 0.55rem;
    height: 0.65rem;
    background-image: url(../img/i-fileSubname.png);
}

i.icon.icon-fileTime {
    width: 0.65rem;
    height: 0.65rem;
    background-image: url(../img/i-filetime.png);
}

i.icon.icon-fileSize {
    width: 0.55rem;
    height: 0.65rem;
    background-image: url(../img/i-fileSize.png);
}

i.icon.icon-file {
    width: 1.5rem;
    height: 1.5rem;
}

i.icon.icon-doc {
    background-image: url(../img/i-word.png);
}

i.icon.icon-txt {
    background-image: url(../img/i-txt.png);
}

i.icon.icon-xls {
    background-image: url(../img/i-excel.png);
}

i.icon.icon-ppt {
    background-image: url(../img/i-ppt.png);
}

i.icon.icon-pdf {
    background-image: url(../img/i-pdf.png);
}

i.icon.icon-default {
    background-image: url(../img/i-file.png);
}