*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.bar_color {
    background-color: #02A8A6;
}

.title_color {
    color: #fff;
}

.bar .click_btn {
    color: #fff;
}

.left_title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -.5rem;
    font-size: .85rem;
    font-weight: 500;
    line-height: 2.2rem;
    color: #3d4145;
    white-space: nowrap;
}

.limit-length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#titleContent {
    width: 60%;
    margin: 0 auto;
}

.blueColor {
    color: #4682B4;
}

.redColor {
    color: #DC143C;
}

.greenColor {
    color: #7CFC00;
}

.grayColor {
    color: #778899;
}

.lightGrayColor {
    color: #656565;
}

.blackColor{
    color: #000000;
}

.item-input select {
    background: url('../img/right.png') no-repeat right center;
}

.card:active,
.item-footer:active {
    background-color: #d9d9d9;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

.boldText {
    font-weight: bold;
}

select {
    background: #fff;
}

.bar .button-nav.bar_right_btn{
    color: #fff;
    margin-right:.3rem;
}

.bottomTip{
    font-size:.65rem;
}

.textRight{
    text-align:right;
}

.toast{
    max-width:90%;
    height:initial;
    line-height:initial;
    padding:.35rem .8rem;
    font-size:.7rem;
    border-radius:.2rem;
}