.list-block ul {
    margin-bottom: 0.5rem;
}

.content-block-title {
    font-size: 0.8rem;
    color: black;
}

.button-fill.bottom-btn {
    background-color: #5CC54B;
}

.list-block .item-title.label {
    width: 30%;
}

/* .item-input {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(20px);
}
*/

html {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.item-inner .item-label {
    color: #3E4145;
    width: 100%;
    text-align: left;
}