.list-block ul {
    margin-bottom: 0.5rem;
}

.content-block-title {
    font-size: 0.8rem;
    color: black;
}

.button-fill.bottom-btn {
    background-color: #02AB93;
}

.list-block .item-title.label {
    width: 30%;
}

/* .item-input {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(20px);
}
*/

html {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.item-inner .item-label {
    color: #3E4145;
    width: 100%;
    text-align: left;
}

.icon-missionDetail {
    width: 0.85rem;
    height: 0.85rem;
    margin-bottom: 0.2rem;
    background-image: url(../img/i-missionDetail.jpg);
}

.button i.icon:first-child:last-child {
    margin-right: 0.2rem;
}

.row .col-80 {
    width: 80%;
    margin-left: 10%;
}