.content-block-title {
    font-size: 0.8rem;
    color: black;
}

.button-fill.bottom-btn {
    background-color: #02AB93;
}

.item-label {
    color: #3E4145;
    text-align: left;
    margin-left: 0.2rem;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.list-block .item-title.label {
    width: 40%;
}

.icon-missionDetail {
    width: 0.85rem;
    height: 0.85rem;
    margin-bottom: 0.2rem;
    background-image: url(../img/i-missionDetail.jpg);
}

.button i.icon:first-child:last-child {
    margin-right: 0.2rem;
}

#addVarContain126 .row.no-gutter{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 1rem;
    width: 100%;
}

#addVarContain125{
    margin-bottom:5rem;
}