.label-switch {
    float: right;
}
.list-block{
    margin:0;
}
.content .list-block .item-content{
    line-height:1.6rem;
}
.content{
    background-color:#fafafa;
}
.content-block-title{
    padding:.05rem
}
.list-block .item-title.label{
    width:80%;
}