.card-content-inner{
    padding:0.3rem;
}
.card-content-inner p{
    margin:0;
}
.card-content-inner .subName{
    font-weight:bold;
}
.list-container{
    width:100%;
}
.item-footer{
    width:100%;
    border-bottom:0.05rem #ccc dashed;
}
#resolve .card-content-inner{
    width:100%;
    border-bottom:0.05rem solid #e1e1e1;
}
#resolve .card-content-inner:active{
    background-color: #d9d9d9;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}
.row.no-gutter{
    display:flex;
    align-items:center;
}
i.icon.icon-sub{
    width: 1.2rem;
    height: 1.2rem;
    background-image: url(../img/i-jiancedian.png);
    margin-bottom:0.2rem;
}
i.icon.icon-day{
    width: 1.5rem;
    height: 1.55rem;
    background-image: url(../img/i-day.png);
}
i.icon.icon-week{
    width: 1.5rem;
    height: 1.55rem;
    background-image: url(../img/i-week.png);
}
i.icon.icon-month{
    width: 1.5rem;
    height: 1.55rem;
    background-image: url(../img/i-month.png);
}
i.icon.icon-year{
    width: 1.5rem;
    height: 1.55rem;
    background-image: url(../img/i-year.png);
}
i.icon.icon-alarm{
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(../img/i-alarm.png);
}
.bar p{
    margin:0;
}
.card.noClick:active{
    background:#fff;
}