#control {
    position: absolute;
    right: 0rem;
    top: 4.5rem;
}

.buttonTab {
    margin: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    color: #02a8a6;
    border: #02a8a6;
    border-radius: 1rem;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    /* font: 16px/14px Tahoma, Verdana, sans-serif; */
    text-align: center;
    color: #fefefe;
    background-color: #02a8a6;
}

.button.button-fill {
    background: #02a8a6;
}

.search-input {
    margin-left: 1.7rem;
    width: 60%;
}

#fState {
    width: 3rem;
    height: 1.5rem;
    /* appearance: none; */
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../img/arrowdown.png") no-repeat 2.1rem center;
    background-size: 15%;
    font-size: 0.7rem;
    font-family: Microsoft YaHei;
    color: #666;
    outline: none;
    padding-left: 0.3rem;
    border: 1px solid #b4b4b4;
}

.imgIcon {
    height: 0.9rem;
    vertical-align: middle;
    padding-right: 0.2rem;
}

#searchCancel {
    display: table;
    margin-left: 0.3rem;
}

/* #fState {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
} */