#control {
    position: absolute;
    right: 0rem;
    top: 4.5rem;
}

.buttonTab {
    margin: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    color: #02a8a6;
    border: #02a8a6;
    border-radius: 1rem;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
    /* font: 16px/14px Tahoma, Verdana, sans-serif; */
    text-align: center;
    color: #fefefe;
    background-color: #02a8a6;
}

.button.button-fill {
    background: #02a8a6;
}

.search-input {
    margin-left: 1.7rem;
    width: 60%;
}

#searchCancel {
    display: table;
    margin-left: 0.5rem;
}

/* #fState {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
} */