.update-li .item-title {
    font-size: .7rem;
}

.update-li .item-subtitle {
    font-size: .6rem;
}

.content .list-block {
    margin: 0;
}

.list-block.media-list .item-inner {
    padding-top: .3rem;
    padding-bottom: .3rem;
}

i.icon.icon-select {
    width: 1.45rem;
    height: 1.45rem;
    background-image: url(../img/i-shanchu.png);
}

.btnstyle {
    background: white;
    border: 0px;
    color: white;
}