.col-10.button {
    padding: 0;
}

.row.no-gutter {
    display: flex;
    align-items: center;
}

.card-content-inner p {
    margin: 0;
}

i.icon.icon-alarm {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(../img/i-alarm.png);
}

.searchbar {
    height: initial;
    padding: 0;
}

#panel-right-demo {
    background-color: #FFFFFF;
    color: #3d4145;
    overflow: hidden;
}

.list-block .item-title.label {
    width: initial;
}

.btnBar {
    /*position:absolute;*/
    right: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.pull-right.open-panel {
    color: #fff;
}

.content-block {
    height:100%;
    color: #3d4145;
}

.content-block label {
    font-size: 0.9rem;
    color: black;
}

#search {
    margin: 0;
}

.item-content:active {
    background-color: #d9d9d9;
}

.subName {
    font-weight: bold;
}

i.icon.icon-selectSome {
    width: 1rem;
    height: 1rem;
    background-image: url(../img/i-selectSome.png);
}

.card-content-inner {
    position: relative;
    padding: .35rem;
}

.searchbar .search-input i.icon.icon-clear {
    width: .9rem;
    height: .9rem;
    z-index: 100;
    cursor: pointer;
    left: initial;
    display: none;
    right: .3rem;
    background-image: url(../img/i-clear.png);
}

#listContainer {
    max-height: 100%;
    overflow: auto;
    border: none;
}

#listContainer .item-inner {
    font-size: .7rem;
    padding-right:0;
}

#listContainer .item-content {
    padding-left:0;
}

.item-title::before {
    content: " ";
    width: 1.2rem;
    height: 1rem;
    float: left;
    background: url(../img/showSubList.png) no-repeat;
    background-size: 0.9rem;
}

.list-block {
    margin: 0;
}

#listBlock{
    height:calc(100% - 17rem);
}

.content-block .buttons-row .button {
    font-size: .75rem;
    border-color: #02A8A6;
    color: #02A8A6;
}

.content-block .buttons-row .button.active {
    font-size: .75rem;
    border-color: #02A8A6;
    color: #fff;
    background-color: #02A8A6;
}

.btnBar .button {
    border-radius: initial;
}

#searchBtn {
    background: #02A8A6;
}

#listContainer .item-content:active {
    background: #02A8A6;
    color: #fff;
}

.button.button-fill.button-cancel {
    background: #ccc;
    color: #3d4145;
}
#list-container .card{
    margin:0.3rem;
}
.bar .button-nav.pull-right {
    margin-right: 0;
}

.list-block .item-link .item-inner {
    background-position: 100% center;
}
.list-block .item-link p{
    margin:0;
}
.text-right{
    text-align:right;
}
.list-block .item-inner.row {
    padding: 0 .7rem 0 0;
}
i.icon.icon-subIcon {
    width: 0.85rem;
    height: 0.85rem;
    background-image: url(../img/i-jiancedian.png);
    margin-bottom: .1rem;
    margin-right: .1rem;
}

.card .no-gutter p {
    margin: 0.1rem 0;
}

.subName {
    font-weight: bold;
}

.row.no-gutter .col-30 {
    width: 30%;
    margin: 0;
}

.row.no-gutter .col-70 {
    width: 70%;
    margin: 0;
}

#panel-right-demo .content-block{
    height:calc(100% - 5.9rem);
    overflow:auto;
}

#panel-right-demo .content-block .buttons-row{
    margin:.3rem 0;
}

#panel-right-demo input,select{
    border-radius: 0.25rem;
    border: 0.05rem solid #CCCCCC;
    height: 1.5rem;
    margin: 0.1rem 0 0.5rem 0;
    width:100%;
    padding-left: 0.25rem;
}

#dateStart,
#dateEnd,
#dateStart1,
#dateEnd1,
#dateStart2,
#dateEnd2{
    width: 46% !important;
    font-size: 0.75rem;
}

.showImg {
    width: 2.0rem;
    margin-left: 0.2rem;
    border-radius: 1.0rem;
}

.card .item-content{
    padding-left:0;
}