.sub_card {
    display: flex;
    align-items: center;
}

.sub_card p {
    margin: 0.5rem 0.5rem;
}

.sub_card .subName {
    font-weight: bold;
    left: 5%;
    margin: 0.5rem 0.5rem;
}

.sub_card button {
    border: none;
    border-radius: 0.2rem;
    padding: 0rem 0;
    width: 100%;
    /* height: 100%; */
    margin: 0rem 0.5rem 0rem -0.5rem;
}

i.icon.icon-contact {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(../img/i-contact.png);
}

i.icon.icon-contactphone {
    width: 0.8rem;
    height: 0.8rem;
    background-image: url(../img/i-contactPhone.png);
}