.content-block {
    padding: 0rem;
    margin: 0rem;
    color: #6d6d72;
    background-image: url(../img/i-versionBgImg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 4rem 7rem;
}

#videoRoom {
    margin: auto;
}

#updateLog {
    width: 100%;
    height: 24rem;
    margin: -0.25rem;
    padding: 1rem;
    background-color: unset;
    border: none;
    resize: none;
    cursor: pointer;
    color: black;
}