.update-li .item-title {
    font-size: 1rem;
}

.update-li .item-subtitle {
    font-size: .6rem;
}

.content .list-block {
    margin: 0;
}

.list-block.media-list .item-inner {
    padding-top: .3rem;
    padding-bottom: .3rem;
}